.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111; /* Dark background */
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

.content {
  animation: fadeIn 1s;
  background-color: rgba(255, 255, 255, 0.1); /* Translucent background */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.25); /* Light border for glass effect */
  color: #fff; /* White text for readability */
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
/* Other styles remain the same */

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; /* Blue button color */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6); /* Blue glow effect */
}

button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
  transform: translateY(-2px); /* Slight lift effect */
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.8); /* Intensified glow effect on hover */
}

/* The rest of the styles remain unchanged */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design */
@media (max-width: 600px) {
  .content {
    padding: 15px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.channel-info {
  margin-top: 10px;
  font-size: 0.8em;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.copy-icon {
  margin-left: 5px;
  color: #007bff;
  font-size: 1.2em;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
  animation: typewriter 2s steps(40) 1s infinite normal both;
  border-right: 2px solid white;
  font-size: 1.2em;
  color: white; /* Adjust color to fit the design */
}

/* Add this inside the .content class in your existing CSS */
.content {
  position: relative;
}
